Repository AntaresSimulatorTeam/antares-timeseries-generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

fix isort issue
  tests/test_ts_generator.py
Due: black, isort

try to fix black
  tests/test_ts_generator.py
Due: black, isort

bump sonar action
  .github/workflows/ci.yml
Due: none

skip generation when null values
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

add test
  tests/test_ts_generator.py
Due: black, isort

fix: allow null unitCount and nominalPower (#21)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  src/antares/tsgen/ts_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

chore(release): v0.1.8
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

chore(release): v0.1.8 (#22)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

bump numpy from v1 to v2
  requirements-dev.txt
  requirements.txt
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

fix linting
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

bump numpy from v1 to v2 (#23)
  requirements-dev.txt
  requirements.txt
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

chore(release): v0.1.9
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

chore(release): v0.1.9 (#25)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

recreate rte-i issue
  tests/data/prepro_rte_i_case.txt
  tests/test_ts_generator.py
Due: black, isort
