Repository AntaresSimulatorTeam/antares-timeseries-generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

deleting 100 limit
  src/cluster_import.py
  src/ts_generator.py
  tests/conftest.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

fix ci
  src/cluster_import.py
  src/ts_generator.py
  tests/conftest.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

fix test
  tests/test_random_generator.py
Due: black, isort

fix typing
  src/ts_generator.py
Due: mypy, black, isort

add mypy.ini
  mypy.ini
Due: none

fix mypy.ini
  mypy.ini
Due: none

fix mypy.ini (again)
  mypy.ini
  src/cluster_import.py
Due: mypy, black, isort

fix requirement
  requirements.txt
Due: none

added copyright header
  src/cluster_import.py
  src/ts_generator.py
  tests/conftest.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

Add AUTHORS.txt
  AUTHORS.txt
Due: none

Timeseries generator for thermal clusters (#1)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AUTHORS.txt
  mypy.ini
  pytest.ini
  requirements-dev.txt
  requirements.txt
  src/cluster_import.py
  src/ts_generator.py
  tests/conftest.py
  tests/data/cluster_1.csv
  tests/data/cluster_100.csv
  tests/data/cluster_high_por.csv
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_high_por_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test_random_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

create a separate class for random duration generator
  src/ts_generator.py
  tests/test_random_generator.py
Due: mypy, black, isort

make output as a return and not a parameter
  src/ts_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

add small test
  src/ts_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Design improvements (#2)
  src/ts_generator.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

add cpp mersenne twister
  cpp/mersenne-twister
  cpp/mersenne-twister.cpp
  cpp/mersenne-twister.h
  pyproject.toml
  src/cluster_parsing.py
  src/cluster_resolve.py
  src/main.py
  src/mersenne_twister.py
  src/ts_generator.py
  tests/data/.~lock.cluster_40.csv#
  tests/data/.~lock.cluster_high_por.csv#
  tests/data/cluster.yaml
  tests/data/cluster_40.csv
  tests/data/modulation.csv
  tests/data/ts_param.csv
  tests/output/cluster.csv
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_high_por_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_parsing.py
Due: mypy, black, isort

fix bug created in before commit
  src/ts_generator.py
Due: mypy, black, isort

remove autosave files
  tests/data/.~lock.cluster_40.csv#
  tests/data/.~lock.cluster_high_por.csv#
Due: none

Sort includes
  src/cluster_parsing.py
  src/cluster_resolve.py
  src/main.py
  src/ts_generator.py
  tests/test_parsing.py
Due: mypy, black, isort

Format
  src/cluster_parsing.py
  src/cluster_resolve.py
  src/main.py
  src/mersenne_twister.py
  src/ts_generator.py
  tests/test.py
  tests/test_parsing.py
Due: mypy, black, isort

typing
  requirements-dev.txt
  src/cluster_resolve.py
  src/mersenne_twister.py
  src/ts_generator.py
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test_parsing.py
Due: mypy, black, isort

Missing dependency
  requirements.txt
Due: none

Relax version requirement for matplotlib
  requirements.txt
Due: none

Missing yaml dependency
  requirements.txt
Due: none

Remove cpp files
  cpp/mersenne-twister
  cpp/mersenne-twister.cpp
  cpp/mersenne-twister.h
Due: none

Update pyproject
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Various improvements (#4)
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/cluster_parsing.py
  src/cluster_resolve.py
  src/main.py
  src/mersenne_twister.py
  src/ts_generator.py
  tests/data/cluster.yaml
  tests/data/cluster_40.csv
  tests/data/modulation.csv
  tests/data/ts_param.csv
  tests/output/cluster.csv
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_high_por_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_parsing.py
Due: mypy, black, isort

Bix behaviour compared to c++ impl, improve design
  requirements.txt
  src/cluster_import.py
  src/cluster_parsing.py
  src/duration_generator.py
  src/mersenne_twister.py
  src/random_generator.py
  src/ts_generator.py
  tests/conftest.py
  tests/test_duration_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

fix include sort order and formatting
  src/cluster_parsing.py
  src/duration_generator.py
  src/mersenne_twister.py
  src/random_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Separate computation of available units and available power
  src/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add unit tests for RNG and duration generators
  src/cluster_import.py
  src/cluster_resolve.py
  src/duration_generator.py
  src/ts_generator.py
  tests/test_duration_generator.py
  tests/test_parsing.py
  tests/test_random_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add some unit tests
  src/ts_generator.py
  tests/test.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Fix formatting
  tests/conftest.py
Due: black, isort

Fix inconsistency with cpp impl, improve design (#3)
  requirements.txt
  src/cluster_import.py
  src/cluster_resolve.py
  src/duration_generator.py
  src/mersenne_twister.py
  src/random_generator.py
  src/ts_generator.py
  tests/conftest.py
  tests/test.py
  tests/test_duration_generator.py
  tests/test_parsing.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add packages, including namespace package antares
  mypy.ini
  src/antares/tsgen/__init__.py
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/cluster_resolve.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/main.py
  src/antares/tsgen/mersenne_twister.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
  tests/conftest.py
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_duration_generator.py
  tests/test_parsing.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add packages, including namespace package antares (#5)
  mypy.ini
  src/antares/tsgen/__init__.py
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/cluster_resolve.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/main.py
  src/antares/tsgen/mersenne_twister.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
  tests/conftest.py
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_duration_generator.py
  tests/test_parsing.py
  tests/test_random_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Use more numpy types and computations
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_resolve.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/ts_generator.py
  tests/test_parsing.py
  tests/test_unit.py
Due: mypy, black, isort

improve variables naming, remove useless class fields, fix apparent available units
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

More renaming
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Simplify hourly values computation
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort
