Repository AntaresSimulatorTeam/antares-timeseries-generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

Add more unit tests
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add some input validation
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Use more numpy, improve naming, add more unit tests (#6)
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_resolve.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/ts_generator.py
  tests/test_parsing.py
  tests/test_unit.py
Due: mypy, black, isort

Add sonarcloud analysis
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

Fix source path for code coverage
  .github/workflows/ci.yml
Due: none

Use relative paths for code coverage report
  .coveragerc
Due: none

Add sonar analysis (#7)
  .coveragerc
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

Remove useless initializations, extract one more method
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Extract draws of forced outages
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Type alias for readability
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Fix some sonar comments (#8)
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Add usage section in README
  README.md
Due: none

Rephrasing summary
  README.md
Due: none

Fix indentation
  README.md
Due: none

Add usage section in README (#9)
  README.md
Due: none

create workflow
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  pyproject.toml
  sonar-project.properties
Due: none

add changelog
  CHANGELOG.md
Due: none

update README.md
  README.md
Due: none

v.0.1.0 (#10)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  CHANGELOG.md
  README.md
  pyproject.toml
  sonar-project.properties
Due: none

add project description for PyPI
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

v1.0.1 (#11)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

add py typed
  CHANGELOG.md
  README.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/py.typed
Due: none

v0.1.2 (#12)
  CHANGELOG.md
  README.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/py.typed
Due: none

remove unused import
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/main.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

use 8760 values instead of 24
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/ts_generator.py
  tests/data/modulation.csv
  tests/test_parsing.py
  tests/test_unit.py
Due: mypy, black, isort

reformat and bump version
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

v0.1.3 (#13)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/main.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
  tests/data/modulation.csv
  tests/test_parsing.py
  tests/test_unit.py
Due: mypy, black, isort

still 14 out of 3650 errors on test case
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

change tests for them to pass
  tests/test_duration_generator.py
  tests/test_unit.py
Due: black, isort

one line
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

add line end to 120 for isort and black
  pyproject.toml
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/main.py
  src/antares/tsgen/mersenne_twister.py
  src/antares/tsgen/ts_generator.py
  tests/test.py
  tests/test_duration_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

same as c++
  src/antares/tsgen/duration_generator.py
  tests/test_duration_generator.py
Due: mypy, black, isort

minor changes
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

finally git statusgit statusgit status
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

add test that used to fail on main
  tests/data/expected_result_long_po_and_fo_duration.txt
  tests/test_unit.py
Due: black, isort

prepare version bump
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

v0.1.4 (#14)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/cluster_parsing.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/main.py
  src/antares/tsgen/mersenne_twister.py
  src/antares/tsgen/ts_generator.py
  tests/data/expected_result_long_po_and_fo_duration.txt
  tests/test.py
  tests/test_duration_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

first try
  src/antares/tsgen/ts_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

bump version
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

v0.1.5 (#15)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  src/antares/tsgen/ts_generator.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort
