Repository AntaresSimulatorTeam/antares-timeseries-generation: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

-   repo: local
    hooks:
    -   id: black
        name: Run black
        entry: black
        args: ["--config", "pyproject.toml"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: isort
        name: Run isort
        entry: isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]

fix: compute failure rate even with 0 duration
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

change
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

fix
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

add test
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

fix typing
  tests/test_unit.py
Due: black, isort

fix(cluster): forbid null durations (#16)
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

v1.0.6
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

v0.1.6 (#17)
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

Refactoring ts_generator.py (adding link capacity class)
  README.md
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/ts_generator.py
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_high_por_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Refactoring ts_generator.py (adding link capacity class)
  requirements.txt
Due: none

correcting dependencies problem
  requirements-dev.txt
Due: none

reformating imports
  tests/test_unit.py
Due: black, isort

reformating imports
  requirements.txt
Due: none

reformating imports
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

reformating imports
  requirements-dev.txt
  src/antares/tsgen/duration_generator.py
  src/antares/tsgen/random_generator.py
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Correcting ThermalCLuster arguments
  src/antares/tsgen/cluster_resolve.py
Due: mypy, black, isort

Correcting ThermalCLuster arguments
  tests/test_parsing.py
Due: black, isort

Correcting ThermalCLuster arguments
  tests/test_unit.py
Due: black, isort

Including link unit testing and refactoring
  src/antares/tsgen/ts_generator.py
  tests/test.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Correcting variable name in unit testing cases
  tests/test_ts_generator.py
Due: black, isort

Correcting variable name in unit testing cases
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Working on correcting minor problems
  requirements-dev.txt
  src/antares/tsgen/ts_generator.py
  tests/test_duration_generator.py
  tests/test_unit.py
Due: mypy, black, isort

Working on correcting minor problems
  requirements-dev.txt
Due: none

Working on correcting minor problems
  README.md
Due: none

Working on correcting minor problems
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

Working on correcting minor problems
  requirements-dev.txt
  requirements.txt
  tests/output/geometric_law_distrib.png
  tests/output/uniform_law_distrib.png
Due: none

Working on correcting minor problems
  requirements-dev.txt
  src/antares/tsgen/ts_generator.py
  tests/test_duration_generator.py
Due: mypy, black, isort

Feature/link capacity added (#18)
  README.md
  requirements-dev.txt
  requirements.txt
  src/antares/tsgen/cluster_import.py
  src/antares/tsgen/cluster_resolve.py
  src/antares/tsgen/ts_generator.py
  tests/output/geometric_law_distrib.png
  tests/output/test_100_unit_cluster.csv
  tests/output/test_high_por_cluster.csv
  tests/output/test_one_unit_cluster.csv
  tests/output/uniform_law_distrib.png
  tests/test.py
  tests/test_duration_generator.py
  tests/test_parsing.py
  tests/test_ts_generator.py
  tests/test_unit.py
Due: mypy, black, isort

fix(drawer): don't crash when rates are at 1
  src/antares/tsgen/ts_generator.py
Due: mypy, black, isort

add test
  tests/test_ts_generator.py
Due: black, isort

simplify tets
  tests/test_ts_generator.py
Due: black, isort

fix(drawer): don't crash when rates are at 1 (#19)
  src/antares/tsgen/ts_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

v0.1.7
  CHANGELOG.md
  README.md
  pyproject.toml
  sonar-project.properties
Due: none

v0.1.7 (#20)
  CHANGELOG.md
  README.md
  pyproject.toml
  sonar-project.properties
Due: none

fix
  src/antares/tsgen/ts_generator.py
  tests/test_ts_generator.py
Due: mypy, black, isort

use ubuntu 22
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none
